@import url("reset.css");

@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: url('/public/fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Roboto';
}

body {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  height: 100vh;
  max-width: 600px;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#content-container {
  flex-grow: 1;
}

section {
  margin-bottom: 80px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav a {
  padding: 20px 10px 40px 10px;
  text-decoration: none;
  color: black;
}

h1,
h2 {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

h5,
h6 {
  color: rgb(88, 88, 88);
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 0.9rem;
}

footer {
  width: 100%;
  color: black;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 60px;
}
