---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/index.css";
---

<BaseLayout pageTitle="Home">
  <section id="hero">
    <div id="info">
      <img src="../../public/max-2-square.jpg" />
      <div>
        <h1>Max Morse</h1>
        <h5>Full Stack Web Developer</h5>
        <h6>Halifax, Nova Scotia, Canada 🇨🇦</h6>
        <a href="mailto:maxmorse-dev@outlook.com">maxmorse-dev@outlook.com</a>
      </div>
    </div>
    <p>
      Full stack web developer with 3 years of professional experience, based in
      Halifax, Nova Scotia. I write code to solve problems. I'm goal oriented,
      and build software with intention and purpose. If you're an employer
      looking to hire, connect with me here.
    </p>
  </section>
  <section id="recent-projects">
    <h2>Recent Projects</h2>
  </section>
</BaseLayout>
