---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/index.css";
import { Image } from "astro:assets";
import profilePic from "../assets/max-2-square.jpg";

const allProjects = Object.values(
  import.meta.glob("./projects/*.md", { eager: true }),
);
---

<BaseLayout pageTitle="Home">
  <section id="hero">
    <div id="info-container">
      <Image id="profile-pic" src={profilePic} alt="A candid photo of Max Morse" />
      <div>
        <h1>Max Morse</h1>
        <h5>Full Stack Web Developer</h5>
        <div id="location">
          <img src="../../public/map-marker.svg" />
          <h6>Halifax, Nova Scotia, Canada 🇨🇦</h6>
        </div>
        <a href="mailto:maxmorse-dev@outlook.com">maxmorse-dev@outlook.com</a>
      </div>
    </div>
    <p>
      Full stack web developer with 3+ years of experience building scalable
      SaaS applications, specializing in backend infrastructure, RESTful API
      design, and system integrations. Proven experience delivering complete
      features from database to user interface, with particular strength in
      complex business logic, subscription systems, and third-party
      integrations.
    </p>
    <p>Let's talk and start building. 🚀</p>
    <div id="links">
      <a
        id="resume"
        href="../../public/Max Morse Resume.pdf"
        download="Max_Morse_Resume.pdf"
      >
        <img src="../../public/pdf.svg" />
        <p>Resume</p>
      </a>
      <a href="https://www.linkedin.com/in/max-morse">LinkedIn</a>
      <a href="https://github.com/DinkleDorph">GitHub</a>
    </div>
  </section>
  <section id="recent-projects">
    <h2>Recent Projects</h2>
    <ul>
      {
        allProjects.map((project: any) => {
          // Extract the filename without extension from the file path
          const slug = project.file.split("/").pop().replace(/\.md$/, "");
          return <a href={`/projects/${slug}`}>{project.frontmatter.title}</a>;
        })
      }
    </ul>
  </section>
</BaseLayout>
