<header>
  <nav id="nav-links">
    <a href="/">Home</a>
    <a href="/about-me">About me</a>
  </nav>
</header>

<style>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav a {
    padding: 20px 10px 40px 10px;
    text-decoration: none;
    color: black;
  }
</style>
